{% extends "shared/layout.tmpl" %}

{% block title %}Zaci vystup{% endblock %}

{% block content %}
    {{form.jmeno.data }}
    {{form.prijmeni.data }}
    {{form.trida.data }}
    {{form.pohlavi.data }}
{% endblock %}
